* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  font-family: "Roboto", sans-serif;
}

.swing {
  -webkit-animation-name: swing;
  -webkit-animation-duration: 2s;
  animation-name: swing;
  animation-duration: 2s;
}

@keyframes swing {
  20% {
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
  }
  40% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  60% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
  }
  80% {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
  90% {
    -webkit-transform: rotate(2.5deg);
    transform: rotate(2.5deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.flash {
  -webkit-animation-name: flash;
  -webkit-animation-duration: 2s;
  animation-name: flash;
  animation-duration: 2s;
}

@keyframes flash {
  0%, 50%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}
.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  -webkit-animation-duration: 2s;
  animation-name: fadeInLeft;
  animation-duration: 2s;
  visibility: visible;
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-30px);
    -ms-transform: translateX(-30px);
    transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}
.fadeInRight {
  -webkit-animation-name: fadeInRight;
  -webkit-animation-duration: 2s;
  animation-name: fadeInRight;
  animation-duration: 2s;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(30px);
    -ms-transform: translateX(30px);
    transform: translateX(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  -webkit-animation-duration: 2s;
  animation-name: fadeInDown;
  animation-duration: 2s;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
.fadeInUp {
  -webkit-animation-name: fadeInUp;
  -webkit-animation-duration: 1.5s;
  animation-name: fadeInUp;
  animation-duration: 1.5s;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px);
    -ms-transform: translateY(30px);
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
.fadeInLeftBig {
  -webkit-animation-name: fadeInLeftBig;
  -webkit-animation-duration: 1.5s;
  animation-name: fadeInLeftBig;
  animation-timing-function: ease;
  animation-duration: 1.5s;
}

@keyframes fadeInLeftBig {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
    -ms-transform: translateX(-2000px);
    transform: translateX(-2000px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}
.fadeInRightBig {
  -webkit-animation-name: fadeInRightBig;
  -webkit-animation-duration: 1.5s;
  animation-name: fadeInRightBig;
  animation-timing-function: ease;
  animation-duration: 1.5s;
}

@keyframes fadeInRightBig {
  0% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
    -ms-transform: translateX(2000px);
    transform: translateX(2000px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}
.fadeInDownBig {
  -webkit-animation-name: fadeInDownBig;
  -webkit-animation-duration: 1.5s;
  animation-name: fadeInDownBig;
  animation-timing-function: ease;
  animation-duration: 1.5s;
}

@keyframes fadeInDownBig {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
    -ms-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
.fadeInUpBig {
  -webkit-animation-name: fadeInUpBig;
  -webkit-animation-duration: 1.5s;
  animation-name: fadeInUpBig;
  animation-timing-function: ease;
  animation-duration: 1.5s;
}

@keyframes fadeInUpBig {
  0% {
    opacity: 0;
    -webkit-transform: translateY(2000px);
    -ms-transform: translateY(2000px);
    transform: translateY(2000px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
header .nav_track {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  height: auto;
  background: radial-gradient(#123044, #384f61);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: 0.5s;
  z-index: 2;
}
header .nav_track .logo {
  height: 8em;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
header .nav_track .logo img {
  height: 8em;
  transform: scale(1.2);
  transition: 0.8s ease-in;
}
header .nav_track .links {
  text-align: center;
  height: 4em;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header .nav_track .links ul {
  text-decoration: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 30em;
}
header .nav_track .links ul li {
  list-style: none;
  display: inline-block;
  font-weight: bold;
  text-transform: uppercase;
}
header .nav_track .links ul li a {
  text-decoration: none;
  color: #ffffff;
}
header .nav_track .links ul li a:hover {
  color: #3b9ada;
  transition: 0.5s ease-in;
}
header .nav_track .burger_menu {
  display: none;
}

@media screen and (max-width: 700px) {
  header {
    width: 100%;
  }
  header .nav_track {
    height: 4em;
    justify-content: center;
  }
  header .nav_track .logo {
    display: none;
  }
  header .nav_track .links {
    display: none;
    width: 100%;
  }
  header .nav_track .links ul {
    margin-top: 3.9em;
    left: 0px;
    right: 0px;
    flex-direction: column;
    align-self: flex-start;
    background-color: #123044;
    width: 100%;
  }
  header .nav_track .links ul li {
    margin-top: 2em;
  }
  header .nav_track .links ul li:nth-child(1) {
    margin-top: 2em;
  }
  header .nav_track .links ul li:nth-child(6) {
    margin-bottom: 2em;
  }
  header .nav_track .burger_menu {
    display: flex;
    align-self: center;
    justify-content: center;
    width: 3em;
    position: absolute;
    right: 2em;
    top: 1.5em;
    cursor: pointer;
  }
}
footer {
  height: 30em;
  padding: 0 60px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #123044;
}
footer .footer_text {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 4em;
}
footer .footer_text .club {
  width: 20em;
}
footer .footer_text .club img {
  height: 8em;
}
footer .footer_text .club .txt {
  margin-left: 1em;
  color: #ffffff;
}
footer .footer_text .club .txt h3 {
  margin-bottom: 1em;
}
footer .footer_text .club .txt p {
  margin-top: 0.3em;
  transition: 0.5 ease-in;
}
footer .footer_text .club .txt p a {
  color: #ffffff;
}
footer .footer_text .club .txt p a:hover {
  color: #3b9ada;
  transition: 0.5s ease-in;
}
footer .footer_text .club .social {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 10em;
  margin-top: 1.5em;
}
footer .footer_text .club .social .social_bkg {
  background-color: #469fda;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footer_text .club .social .social_bkg img {
  height: auto;
}

.footer_contact .footer_links {
  margin-top: 2em;
}
.footer_contact .footer_links li {
  list-style: none;
  margin-top: 0.5em;
}
.footer_contact .footer_links li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.3em;
  transition: 0.8s ease-out;
}
.footer_contact .footer_links li a:hover {
  color: #3b9ada;
  transition: 0.5s ease-in;
}

.google_maps {
  height: 300px;
}
.google_maps iframe {
  border-radius: 1em;
}

.copyright {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 4em;
  background-color: #ffffff;
}
.copyright .left_footer {
  padding-left: 40px;
  width: 13em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.copyright .right_footer {
  padding-right: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #123044;
}
.copyright .right_footer p a {
  text-decoration: none;
  color: #123044;
}

@media screen and (max-width: 1191px) {
  footer {
    height: 54em;
  }
  footer .footer_text {
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
    margin-top: 3em;
    padding: 40px;
  }
  footer .footer_text .footer_contact {
    position: relative;
    top: -18em;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
  }
  footer .footer_text .footer_contact .footer_links {
    text-align: right;
    margin-top: 0;
  }
  footer .footer_text .google_maps {
    position: relative;
    top: -6em;
    width: 100%;
  }
  footer .footer_text .google_maps iframe {
    width: 100%;
  }
}
@media screen and (max-width: 700px) {
  footer .footer_text {
    margin-top: -1em;
    align-items: center;
    justify-content: center;
  }
  footer .footer_text .club {
    position: static;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  footer .footer_text .club .All_Star {
    margin-left: 1.5em;
  }
  footer .footer_text .club .txt {
    text-align: center;
  }
  footer .footer_text .footer_links {
    display: none;
  }
  footer .footer_text .google_maps {
    position: static;
    margin-top: 2em;
    width: 15em;
  }
}
.for_carousel {
  height: 45em;
}
.for_carousel .slideshow-container {
  height: 40em;
  max-width: 100%;
  margin: auto;
  margin-top: 12em;
}
.for_carousel .slideshow-container .mySlides {
  display: none;
  position: relative;
  margin-top: 4em;
}
.for_carousel .slideshow-container .mySlides .imgs {
  vertical-align: middle;
  width: 100%;
  height: 45em;
}

.content_slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
.content_slide .prev, .content_slide .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: 1em;
  color: #123044;
  font-size: 2em;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  padding: 5px;
}
.content_slide .prev {
  left: 0;
  text-align: right;
}
.content_slide .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.content_slide .prev:hover, .content_slide .next:hover {
  background-color: #123044;
  color: #ffffff;
}
.content_slide .dots {
  position: absolute;
  top: 90%;
  text-align: center;
}
.content_slide .dots .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #3b9ada;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.content_slide .dots .active, .content_slide .dots .dot:hover {
  background-color: #123044;
}

.description_slide {
  position: absolute;
  top: 35%;
  width: 70%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.description_slide .text {
  text-transform: uppercase;
  color: #ffffff;
  font-size: 1.5em;
}
.description_slide .carousel_link {
  margin-top: 2em;
  background-color: #123044;
  padding: 1em 2em;
  border-radius: 5px;
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
  transition: 0.8s;
  animation-name: fadeInUp;
  text-transform: uppercase;
}
.description_slide .carousel_link:hover {
  cursor: pointer;
  background-color: #3b9ada;
  transition: 0.8s;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
@media screen and (max-width: 700px) {
  .for_carousel .slideshow-container {
    margin-top: 4em;
  }
  .for_carousel .slideshow-container .mySlides .imgs {
    height: 50em;
  }
}
.programs {
  padding: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.programs .box1 {
  background: url(../images/Couple.webp) center;
  background-repeat: no-repeat;
  background-size: cover;
}
.programs .box2 {
  background: url(../images/kids.jpg) right;
  background-repeat: no-repeat;
  background-size: cover;
}
.programs .box3 {
  background: url(../images/family.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.programs .box4 {
  background: url(../images/athlete.jpg) center;
  background-repeat: no-repeat;
  background-size: cover;
}
.programs a {
  text-decoration: none;
  color: #123044;
}
.programs .box {
  height: 25em;
  width: 20em;
  border: 2px solid #00eeff;
  border-radius: 10px;
  margin: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s ease-in;
}
.programs .box:hover {
  transform: scale(1.2);
  transition: 0.4s ease-out;
}
.programs .box:hover h2 {
  display: none;
  transition: 0.4s ease-out;
}
.programs .box:hover p {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s ease-out;
}
.programs .box h2 {
  text-align: center;
  background-color: #ffffffb0;
  border-radius: 1em;
  padding: 1em 0;
  width: 100%;
  text-transform: uppercase;
  transition: 0.4s ease-out;
}
.programs .box p {
  display: none;
  height: 100%;
  width: 100%;
  transition: 0.4s ease-out;
  text-align: center;
  background-color: #ffffffb0;
  border-radius: 7px;
  font-size: 1.2em;
  padding: 0 0.5em;
}

@media screen and (max-width: 700px) {
  .we {
    justify-content: flex-start;
  }
  .we .programs {
    padding: 1em;
  }
}
.about_us {
  margin-top: 12em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.about_us .about_us_description {
  padding: 60px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.about_us .about_us_description .about_us_text {
  width: 45%;
}
.about_us .about_us_description .about_us_text .about_us_title {
  text-align: center;
}
.about_us .about_us_description .about_us_text .about_us_desc_txt {
  margin-top: 2em;
  text-align: justify;
  text-indent: 30px;
}
.about_us .about_us_description .about_us_image {
  width: 45%;
  align-self: center;
}
.about_us .about_us_description .about_us_image .about_us_img {
  width: 100%;
}

.about_us_trainers {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 60px;
}
.about_us_trainers .trainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #cccccc94;
  border-radius: 0.5em;
  padding: 2em;
  margin: 1em;
}
.about_us_trainers .trainer .trainer_img {
  height: 10em;
  border-radius: 50%;
}
.about_us_trainers .trainer .trainer_message {
  margin-left: 2em;
}

.about_us_approch_full {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: 60px 0;
}
.about_us_approch_full .about_us_approch_title {
  background-color: #469fda;
  background: radial-gradient(#469fda, #77a1c2);
  width: 100%;
  padding: 20px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3em;
  text-transform: uppercase;
  text-align: center;
}
.about_us_approch_full .about_us_approch {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.about_us_approch_full .about_us_approch .about_us_approch_method {
  width: 18em;
  height: 23em;
  border-radius: 0.5em;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  margin: 1em;
}
.about_us_approch_full .about_us_approch .about_us_approch_method .about_us_approch_name {
  margin: 1.5em 0;
  height: 4em;
  text-align: center;
  color: #123044;
}
.about_us_approch_full .about_us_approch .about_us_approch_method .about_us_approch_desc {
  text-align: center;
  width: 14em;
}
.about_us_approch_full .about_us_approch .st {
  background-color: rgba(189, 208, 221, 0.685);
}
.about_us_approch_full .about_us_approch .nd {
  background-color: rgba(148, 192, 221, 0.685);
}
.about_us_approch_full .about_us_approch .rd {
  background-color: rgba(109, 172, 214, 0.685);
}
.about_us_approch_full .about_us_approch .th {
  background-color: rgba(59, 151, 212, 0.685);
}

.about_us_education {
  background-color: #469fda;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: 60px;
}
.about_us_education .education {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin-top: 3em;
}
.about_us_education .education a {
  width: 12em;
}
.about_us_education .education a img {
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .about_us .about_us_description {
    align-items: center;
    flex-direction: column;
  }
  .about_us .about_us_description .about_us_text {
    width: 100%;
  }
  .about_us .about_us_description .about_us_image {
    margin-top: 2em;
    width: 100%;
  }

  .about_us_trainers {
    align-items: center;
    flex-direction: column;
    width: 40em;
  }
  .about_us_trainers .trainer {
    align-items: center;
    flex-direction: column;
  }
  .about_us_trainers .trainer .trainer_img {
    margin-bottom: 2em;
  }
  .about_us_trainers .trainer .trainer_message {
    margin-top: 0;
    margin-left: 0;
    text-align: center;
  }
  .about_us_trainers .trainer:nth-child(2) {
    margin-top: 5em;
  }
}
@media screen and (max-width: 700px) {
  .about_us {
    margin-top: 4em;
  }

  .about_us_trainers {
    width: 30em;
  }

  .about_us_education .education {
    flex-direction: column;
    justify-content: center;
  }
  .about_us_education .education a {
    margin-top: 3em;
  }
  .about_us_education .education a:nth-child(1) {
    margin-top: 0;
  }
}
.we {
  padding: 0 0 60px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.we .reserve {
  width: 100%;
  padding: 20px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3em;
  background: radial-gradient(#469fda, #77a1c2);
}
.we .reserve h2 {
  font-size: 1.2em;
  text-align: center;
  line-height: 1.5em;
  color: #ffffff;
  line-height: 2;
  text-transform: uppercase;
}
.we .reserve h2 .reserve_training {
  color: #ffffff;
  text-decoration: none;
  transition: 0.8s ease-in;
}
.we .reserve h2 .reserve_training:hover {
  color: #123044;
  font-weight: bold;
  transition: 0.8s ease-out;
  text-decoration: underline;
}
.we .reserve h2 .hover_reserve {
  color: #ffffff;
  text-decoration: none;
  background-color: #8b1d1d;
  border-radius: 5px;
  padding: 12px;
  font-size: 16px;
  transition: 0.8s ease-in;
}
.we .reserve h2 .hover_reserve:hover {
  background-color: #d24200;
  color: #ffffff;
  transition: 0.8s ease-out;
  animation-name: swing;
  animation-duration: 3s;
}

@media screen and (max-width: 700px) {
  .we .reserve {
    margin-top: 5em;
  }
}
.faq {
  padding: 100px 60px 60px 60px;
  margin-top: 12em;
}
.faq .faq_div {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.faq .faq_div .faq_title {
  text-transform: uppercase;
}
.faq .faq_div .faq_desc {
  width: 25em;
  text-align: right;
}

.questions {
  border-radius: 1px;
  padding: 1em;
  margin-top: 2em;
}
.questions .question_card {
  background-color: rgba(148, 192, 221, 0.685);
  border-radius: 0.5em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 1.5em;
}
.questions .question_card .question_tittles {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em 2em;
}
.questions .question_card .question_tittles .question_tittle {
  text-transform: uppercase;
  font-size: 1.5em;
}
.questions .question_card .question_tittles .question_accordionArrow {
  height: 0.7em;
  width: 1.7em;
  cursor: pointer;
}
.questions .question_card .question_description {
  display: none;
  padding: 1em 2em;
}
.questions .question_card:nth-child(1) {
  margin-top: 0;
}

.more_info {
  background-color: #469fda;
  width: 100%;
  padding: 20px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  text-align: center;
}

.contacting {
  text-align: center;
  margin-top: 3em;
  line-height: 2em;
}
.contacting a {
  text-decoration: none;
  color: #6b6a6a;
  transition: 0.5s ease-in-out;
}
.contacting a:hover {
  text-decoration: underline;
  color: #ffffff;
  background-color: #123044;
  padding: 0.5em 1em;
  border-radius: 0.3em;
  transition: 0.5s ease-in-out;
}

@media screen and (max-width: 700px) {
  .faq {
    margin-top: 0em;
  }
  .faq .faq_div {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .faq .faq_div .faq_desc {
    margin: 2em 0;
    text-align: center;
  }
}
.contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 12em;
  padding: 110px 60px;
}
.contact .contact_text, .contact .contact_form {
  border-radius: 10px;
  padding: 0 40px;
  width: 33.5em;
}
.contact .contact_text {
  align-self: flex-start;
}
.contact .contact_text img {
  width: 100%;
  margin-top: -2em;
}
.contact .contact_text h3 {
  font-size: 2em;
  margin-bottom: 1em;
}
.contact .contact_text .contact_des {
  font-size: 1.1em;
  margin-bottom: 0.5em;
}
.contact .contact_text .contact_des a {
  text-decoration: none;
  color: black;
}
.contact .contact_text .contact_des a:hover {
  color: #3b9ada;
}
.contact .contact_text .contact_des .contact_text_about_us {
  text-align: center;
  align-self: center;
}

.contact_form {
  background-color: rgba(77, 146, 224, 0.596);
}
.contact_form form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px 0px;
}
.contact_form form h2, .contact_form form input, .contact_form form textarea {
  width: 100%;
  margin: 0.5em 0;
  border: none;
  border-radius: 5px;
}
.contact_form form h2 {
  text-align: center;
}
.contact_form form input {
  height: 2em;
  padding: 5px;
}
.contact_form form textarea {
  padding: 5px;
}
.contact_form form .submit_btn {
  background-color: rgba(77, 118, 255, 0.541);
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

@media screen and (max-width: 1191px) {
  .contact {
    justify-content: center;
  }
  .contact .contact_text {
    margin-top: -1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contact_form {
    margin-top: 10em;
  }
}
@media screen and (max-width: 700px) {
  .contact {
    margin-top: 4em;
    padding: 108px 0px 60px 0px;
  }

  .contact_form {
    width: 100%;
  }
}
.pricelist_txt {
  padding: 8em 3em 3em 3em;
}
.pricelist_txt .pricelist_txt_h1 {
  text-align: center;
}

.pricelist {
  padding: 8em 0em;
}
.pricelist .price {
  margin-top: 5em;
  padding: 5em;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}
.pricelist .price .plan {
  display: inline-block;
  margin: 1em;
}

.plan-inner {
  height: 30em;
  background: #fff;
  margin: 0 auto;
  min-width: 280px;
  max-width: 100%;
  position: relative;
}
.plan-inner .entry-title {
  background: #49acbf;
  height: 140px;
  position: relative;
  text-align: center;
  color: #fff;
  margin-bottom: 30px;
  border-radius: 5px;
}
.plan-inner .entry-title h3 {
  background: #449daf;
  font-size: 20px;
  padding: 5px 0;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
}
.plan-inner .entry-title .price_logo {
  position: absolute;
  bottom: -1.5em;
  background: #449daf;
  height: 6em;
  width: 6em;
  margin: 0 auto;
  left: 0;
  right: 0;
  border-radius: 50%;
  border: 5px solid #fff;
}

.entry-content {
  color: #323232;
}
.entry-content ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}
.entry-content ul li {
  border-bottom: 1px solid #E5E5E5;
  padding: 10px 0;
}
.entry-content ul li:last-child {
  border: none;
}

.btn {
  position: relative;
  bottom: -8em;
  padding: 3em 0;
  text-align: center;
}
.btn a {
  cursor: pointer;
  background: #123044;
  color: #ffffff;
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 5px;
}
.btn a:hover {
  background-color: #49acbf;
  transition: 0.8s;
}

.plan:nth-child(4) .btn {
  bottom: -0.5em;
}

.basic .entry-title {
  background: #5ba63e;
}

.basic .entry-title h3, .basic .entry-title .price_logo {
  background: #4d8b34;
}

.plan:nth-child(2) .btn a:hover {
  background-color: #5ba63e;
  transition: 0.8s;
}

.standard .entry-title {
  background: #d24200;
}

.standard .entry-title h3, .standard .entry-title .price_logo {
  background: #b43a01;
}

.plan:nth-child(3) .btn a:hover {
  background-color: #d24200;
  transition: 0.8s;
}

.ultimite .entry-title {
  background: #b80000;
}

.ultimite .entry-title h3, .ultimite .entry-title .price_logo {
  background: #960101;
}

.plan:nth-child(4) .btn a:hover {
  background-color: #b80000;
  transition: 0.8s;
}

@media screen and (max-width: 700px) {
  .pricelist {
    padding: 0em;
  }
}
.programme_all {
  margin-top: 12em;
  position: relative;
  display: flex;
  align-self: flex-start;
  flex-direction: column;
}
.programme_all .programme {
  background-color: rgba(148, 192, 221, 0.685);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: auto;
  width: 60em;
  margin: 2em 0;
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}
.programme_all .programme .programme_full {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  height: auto;
  width: 100%;
  margin-top: 3em;
}
.programme_all .programme .programme_full .programe_img {
  width: 15em;
  height: 10em;
  margin-left: 5em;
}
.programme_all .programme .programme_full .programe_tittle {
  text-transform: uppercase;
  margin-right: 5em;
  color: #123044;
}
.programme_all .programme .programme_desc {
  height: auto;
  margin: 2em 5em;
  text-indent: 30px;
  text-align: justify;
}
.programme_all .programme .programme_solo {
  margin: 2em 0 2em 5em;
  align-self: flex-start;
}
.programme_all .programme .programme_solo .programme_solo_link {
  text-decoration: none;
  background-color: #49acbf;
  text-transform: uppercase;
  border-radius: 5px;
  padding: 10px 30px;
  color: #ffffff;
  transition: 0.5s ease-in-out;
}
.programme_all .programme .programme_solo .programme_solo_link:hover {
  background-color: #449daf;
  transition: 0.5s ease-in-out;
}

.programme:nth-child(even) {
  align-self: flex-end;
  border-top-right-radius: 0em;
  border-bottom-right-radius: 0em;
  border-top-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
}
.programme:nth-child(even) .programme_full .programe_img {
  transform: scaleX(-1);
}

.programme:nth-child(even) .programme_full {
  flex-direction: row-reverse;
}
.programme:nth-child(even) .programme_full .programe_img {
  margin-left: 0;
  margin-right: 5em;
}
.programme:nth-child(even) .programme_full .programe_tittle {
  margin-right: 0;
  margin-left: 5em;
}

.programme:nth-child(even) .programme_solo {
  margin: 2em 5em 2em 0;
  align-self: flex-end;
}

.programme:nth-child(2) .programme_solo .programme_solo_link {
  background-color: #5ba63e;
}
.programme:nth-child(2) .programme_solo .programme_solo_link:hover {
  background-color: #4d8b34;
  transition: 0.5s ease-in-out;
}

.programme:nth-child(3) .programme_solo .programme_solo_link {
  background-color: #d24200;
}
.programme:nth-child(3) .programme_solo .programme_solo_link:hover {
  background-color: #b43a01;
  transition: 0.5s ease-in-out;
}

.programme:nth-child(4) .programme_solo .programme_solo_link {
  background-color: #b80000;
}
.programme:nth-child(4) .programme_solo .programme_solo_link:hover {
  background-color: #960101;
  transition: 0.5s ease-in-out;
}

@media screen and (max-width: 1191px) {
  .programme_all .programme {
    width: 100%;
    border-radius: 0;
  }
}
@media screen and (max-width: 700px) {
  .programme_all .programme .programme_full .programe_img {
    margin-left: 3em;
  }
  .programme_all .programme .programme_full .programe_tittle {
    margin-right: 3em;
  }

  .programme:nth-child(even) .programme_full .programe_img {
    margin-left: 0;
    margin-right: 3em;
  }
  .programme:nth-child(even) .programme_full .programe_tittle {
    margin-right: 0;
    margin-left: 3em;
  }
}
.programm_solo {
  margin-top: 10em;
  padding: 2em 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.programm_solo .programme_full_solo {
  margin-top: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.programm_solo .programme_full_solo .programe_solo_tittle {
  color: #123044;
  text-transform: uppercase;
  font-size: 2em;
}
.programm_solo .programme_full_solo .programe_solo_img {
  margin-top: 3em;
  border-radius: 1em;
  height: 30em;
  width: 50em;
  transition: 0.5s ease-in-out;
}
.programm_solo .programme_solo_desc {
  margin: 2em 0;
  width: 70%;
  text-align: justify;
}
.programm_solo .programme_solo_desc .programme_desc_text {
  font-size: 1.3em;
}
.programm_solo .programm_solo_links {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5em;
}
.programm_solo .programm_solo_links .programm_solo_link {
  text-decoration: none;
  background-color: #49acbf;
  text-transform: uppercase;
  border-radius: 5px;
  padding: 10px 30px;
  color: #ffffff;
  transition: 0.5s ease-in-out;
}
.programm_solo .programm_solo_links .programm_solo_link:hover {
  background-color: #449daf;
  transition: 0.5s ease-in-out;
}

@media screen and (max-width: 1200px) {
  .programm_solo .programme_full_solo .programe_solo_img {
    height: 20em;
    width: 30em;
  }
}
@media screen and (max-width: 700px) {
  .programm_solo {
    margin-top: 4em;
    margin-bottom: 4em;
  }
  .programm_solo .programme_full_solo .programe_solo_img {
    height: 12em;
    width: 20em;
  }
}
body {
  background: #ffffff url(../images/New_Logo_White.png) repeat;
  background-position: 10% 100%;
  background-size: 6em;
}

/*# sourceMappingURL=shared.css.map */
