.about_us{
    margin-top: 12em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .about_us_description{
        padding:  60px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        .about_us_text{
            width: 45%;
            .about_us_title{
                text-align: center;
            }
            .about_us_desc_txt{
                margin-top: 2em;
                text-align: justify;
                text-indent: 30px;
            }
        }
        .about_us_image{
            width: 45%;
            align-self: center;
            .about_us_img{
                width: 100%;
            }
        }
    }
}
.about_us_trainers{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 60px;
    .trainer{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #cccccc94;
        border-radius: 0.5em;
        padding: 2em;
        margin: 1em;
        .trainer_img{
            height: 10em;
            border-radius: 50%;
        }
        .trainer_message{
            margin-left: 2em;
        }
    }
}
.about_us_approch_full{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding:  60px 0;
    .about_us_approch_title{
        background-color: $blue;
        background: radial-gradient($blue, rgb(119, 161, 194));
        width: 100%;
        padding: 20px 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 3em;
        text-transform: uppercase;
        text-align: center;
    }
    .about_us_approch{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        .about_us_approch_method{
            width: 18em;
            height: 23em;
            border-radius: 0.5em;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-direction: column;
            margin: 1em;
            .about_us_approch_name{
                margin: 1.5em 0;
                height: 4em;
                text-align: center;
                color: $dark_blue;
            }
            .about_us_approch_desc{
                text-align: center;
                width: 14em;
            }
        }
        .st{
            background-color: rgba(189, 208, 221, 0.685);
        }
        .nd{
            background-color: rgba(148, 192, 221, 0.685);
        }
        .rd{
            background-color: rgba(109, 172, 214, 0.685);
        }
        .th{
            background-color: rgba(59, 151, 212, 0.685);
        }
    }
}
.about_us_education{
    background-color: $blue;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 60px;
    .education{
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        margin-top: 3em;
        a{
            width: 12em;
            img{
                width: 100%;
            }
        }
    }
    
}
@media screen and (max-width: 1200px){
    .about_us{
        .about_us_description{
            align-items: center;
            flex-direction: column;
            .about_us_text{
                width: 100%;
                
            }
            .about_us_image{
                margin-top: 2em;
                width: 100%;
            }
        }
    }
    .about_us_trainers{
        align-items: center;
        flex-direction: column;
        width: 40em;
        .trainer{
            align-items: center;
            flex-direction: column; 
            .trainer_img{
                margin-bottom: 2em;
            }
            .trainer_message{
                margin-top: 0;
                margin-left: 0;
                text-align: center;
            }
            &:nth-child(2){
                margin-top: 5em;
            }
        }
    }
}

@media screen and (max-width: 700px){
    .about_us{
        margin-top: 4em;
    }
    .about_us_trainers{
        width: 30em;
    }
    .about_us_education{
        .education{
            flex-direction: column;
            justify-content: center;
            a{
                margin-top: 3em;
                &:nth-child(1){
                    margin-top: 0;
                } 
            }
        }
    }
}