.we{
    padding: 0 0 60px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    .reserve{   
        width: 100%;
        padding: 20px 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 3em;
        background: radial-gradient($blue, rgb(119, 161, 194));
        h2{
            font-size: 1.2em;
            text-align: center;
            line-height: 1.5em;
            color: $white;
            line-height: 2;
            text-transform: uppercase;
            .reserve_training{
                color: #ffffff;
                text-decoration: none;
                transition: 0.8s ease-in;
                &:hover{
                    color: $dark_blue;
                    font-weight: bold;
                    transition: 0.8s ease-out;
                    text-decoration: underline;
                }
            }
            .hover_reserve{
                color: #ffffff;
                text-decoration: none;
                background-color: rgb(139, 29, 29);
                border-radius: 5px;
                padding: 12px;
                font-size: 16px;
                transition: 0.8s ease-in;
                &:hover{
                    background-color: #d24200;
                    color: $white;
                    transition: 0.8s ease-out;
                    animation-name: swing;
                    animation-duration: 3s;
                }
            }
        }
    }
}   
@media screen and (max-width: 1024px){
    .we{
        margin-top: -2.4em;
    }
}
@media screen and (max-width: 1000px){
    .we{
        margin-top: -3em;
    }
}
@media screen and (max-width: 900px){
    .we{
        margin-top: -6em;
    }
}
@media screen and (max-width: 768px){
    .we{
        margin-top: -13em;
    }
}
@media screen and (max-width: 700px){
    .we{
        margin-top: -15em;
    }
}
@media screen and (max-width: 600px){
    .we{
        margin-top: -18em;
    }
}
@media screen and (max-width: 500px){
    .we{
        margin-top: -20em;
    }
}
@media screen and (max-width: 414px){
    .we{
        margin-top: -27.8em;
    }
}
@media screen and (max-width: 375px){
    .we{
        margin-top: -29.5em;
    }
}
@media screen and (max-width: 320px){
    .we{
        margin-top: -31.7em;
    }
}