.programs{
    padding: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    .box1{
        background: url(../images/Couple.webp) center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .box2{
        background: url(../images/kids.jpg) right;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .box3{
        background: url(../images/family.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .box4{
        background: url(../images/athlete.jpg) center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    a{
        text-decoration: none;
        color: $dark_blue; 
    }
    .box{
        height: 25em;
        width: 20em;
        border: 2px solid rgb(0, 238, 255);
        border-radius: 10px;
        margin: 1.5em;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: .4s ease-in;
        &:hover{
            transform: scale(1.2);
            transition: .4s ease-out;
            h2{
                display: none;
                transition: .4s ease-out;
            }
            p{
                display: flex;
                justify-content: center;
                align-items: center;
                transition: .4s ease-out;
            }
        }
        h2{
            text-align: center;
            background-color: #ffffffb0;
            border-radius: 1em;
            padding: 1em 0;
            width: 100%;
            text-transform: uppercase;
            transition: .4s ease-out;
        }
        p{
            display: none;
            height: 100%;
            width: 100%;
            transition: .4s ease-out;
            text-align: center;
            background-color: #ffffffb0;
            border-radius: 7px;
            font-size: 1.2em;
            padding: 0 0.5em;
        }
    }
}
@media screen and (max-width: 700px){
    .we{
        justify-content: flex-start;
        .programs{
            padding: 1em;
            .box{
                height: 20em;
                width: 15em;
            }
        }
    }
}
