$light_green: #9ad3bc;
$light_yellow: #f3eac2;
$orange: #f5b461; 
$light_red: #ec524b;
$white: #ffffff;

$h-txt: 'Abril Fatface', cursive;
$text: 'Roboto', sans-serif;
$moto: 'Dancing Script', cursive;

