@import 'mixinsigorica';
@import 'varsigorica';

@include main;
*{
    font-family: $text;
}

.contact{
    background: url(../images/contact.jpg) 50%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 108px 60px 60px 60px;
    .contact_text, .contact_form{
        border-radius: 10px;
        padding: 0 40px;
        width: 33.5em;
    }
        .contact_text{
            align-self: flex-start;
            img{
                width: 100%;
                margin-top: -2em;
            }
            h3{
                font-size: 2em;
                margin-bottom: 1em;
            }
            p{
                font-size: 1.1em;
                margin-bottom: 0.5em;
                a{
                    text-decoration: none;
                    color: black;
                    &:hover{
                        color: $orange;
                    }
                }
                .about_us{
                    text-align: center;
                    align-self: center;
                }
            }
        }
    
    .contact_form{
        background-color: rgba(182, 182, 182, 0.582);
        form{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding: 20px 0px;
            h2, input, textarea{
                width: 100%;
                margin: 0.5em 0;
                border: none;
                border-radius: 5px;
            }
            h2{
                text-align: center;
            }
            input{
                height: 2em;
                padding: 5px;
            }
            textarea{
                padding: 5px;
            }
            .submit_btn{
                background-image: linear-gradient(to right, rgb(175, 175, 175) ,  rgba(86, 119, 121, 0.582));
                text-transform: uppercase; 
                font-weight: bold; 
                cursor: pointer; 
            }
        }
    }
}
@media screen and (max-width: 1191px){
    .contact{
        justify-content: center;
        .contact_text {
            margin-top: -1.5em;
            .txt{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }
        .contact_form{
            margin-top: 10em;
        }
    }
}