@import 'mixinsIgorica';
@import 'varsIgorica';

@include main;
*{
    font-family: $text;
}
@import 'animation';
@import 'header';
@import 'footer';
@import 'carousel';
@import 'programs';
@import 'aboutUs';
@import 'main';
@import 'faq';
@import 'contact';
@import 'pricelist';
@import 'programme';
@import 'programmSolo';

body{
    background: $white url(../images/New_Logo_White.png) repeat;
    background-position: 10% 100%;
    background-size: 6em;
}