$dark_blue: rgb(18, 48, 68);
$hover_blue: rgb(59, 154, 218);
$hover_btn:rgb(5, 31, 48);
$blue: rgb(70, 159, 218);
$background_clr:rgb(209, 235, 252);;
$white: #ffffff;


$light_yellow: #f3eac2;
$light_red: #ec524b;

$h-txt: 'Abril Fatface', cursive;
$text: 'Roboto', sans-serif;
$moto: 'Dancing Script', cursive;

