$dark_blue: rgb(18, 48, 68);
$hover_blue: rgb(59, 154, 218);
$blue: rgb(70, 159, 218);
$white: #ffffff;


$light_yellow: #f3eac2;
$light_red: #ec524b;

$h-txt: 'Abril Fatface', cursive;
$text: 'Roboto', sans-serif;
$moto: 'Dancing Script', cursive;

